<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
  
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter> 
        <encoder>  
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>  
        </encoder>  
    </appender>  
   
    <appender name="LOGFILE" class="ch.qos.logback.core.FileAppender">  
        <file>${catalina.base}/logs/tomcat.log</file>  
        <encoder>  
            <pattern>d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>  
        </encoder>  
    </appender>
    
    <root level="debug">  
        <appender-ref ref="STDOUT" />  
        <appender-ref ref="LOGFILE" />
        <appender-ref ref="SYSLOG" />
    </root>  
  
</configuration>
